<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-outline-primary btn-sm"
      data-toggle="modal"
      data-target="#add-modal"
    >
      Add
    </button>
    <button
    type="button"
    class="btn btn-outline-primary btn-sm"
    onclick=""    
  >
    Export
  </button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>No</th>
            <th>Nama</th>
            <th>nomor_wa</th>
            <th>tanggal_pkt</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0; i < pegawai.length; i++){ %>
          <tr>
            <td><%= i +1 %></td>
            <td><%= pegawai[i].nama %></td>
            <td><%= pegawai[i].nomor_wa %></td>
            <td><%= pegawai[i].tanggal_pkt %></td>
            <td class="text-center">
              <form
                action="/pegawai/<%= pegawai[i].id %>?_method=DELETE"
                method="POST"
              >
                <a
                  href="javascript:void()"
                  class="btn btn-outline-warning btn-sm button-update"
                  data-id="<%= pegawai[i].id %>"
                  data-nama="<%= pegawai[i].nama %>"
                  data-nomor_wa="<%= pegawai[i].nomor_wa %>"
                  data-tanggal_pkt="<%= pegawai[i].tanggal_pkt %>"
                  >Edit</a
                >
                <button
                  type="submit"
                  class="btn btn-outline-danger btn-sm"
                  onclick="return confirm('Apakah Anda yakin akan menghapus data ini??');"
                >
                  Delete
                </button>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
